.whole-page {
  width: fit-content;
  background: rgba( 188, 42, 94, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  justify-content: center;
  margin-left: 420px;
  margin-top: 75px;
         }

.num-but {

  color: white;
  background-color: rgb(51, 51, 51);
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
}


.Orange-button {
  background-color: rgb(254, 160, 10);
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
  color: white;

}


.clear-button {
  font-size: 17px;
  color: white;
  background-color: rgb(51, 51, 51);
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.Del-button {
  font-size: 17px;
  color: white;
  background-color: rgb(51, 51, 51);
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.mode-toggle {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--background-color)}
  /* Dark Mode Styes */
 

/* Light Mode Styles */
  .light-mode {
  --background-color: #fff;
  --text-color: #333;
}

.display {
  background-color: black;
  border: 20px;
  border-radius: 13px 10px;
  margin-bottom: 16px;
  text-align: right;
  padding-right: 15px;
  padding-bottom: 0.7em;
  height: 5em;
  font-size: 1.2em;
  font-weight: 400;
  overflow: hidden;
   /* padding-top: 2px;  */
   /* margin-top: 0.2em; 
   */
}

.calculation-display{
  padding-top: 10px;
  height: 2em;
  color: white;
  font-size: 1em;
  font-weight: 400;
}

.result-display{
  color: aqua;
  height: 5em;
  font-weight: 500;
  margin-top: -20px;
  font-size: 1.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
} 

/* Media query for screens smaller than 768px (typical mobile devices) */
@media (max-width: 768px) {
  .calculator {
    width: 80%; /* Calculator container narrower */
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Display buttons in a 4-column grid on mobile */
  }

  .num-but,
  .Orange-button,
  .clear-button {
    font-size: 18px; /* Reduce font size for buttons on mobile */
    width: 100%; /* Make buttons full width on mobile */
    margin: 5px 0; /* Add a small margin between buttons */
  }
}
